@import 'tailwindcss';

@theme {
  --color-primary: var(--primary);
  --color-accent-green: var(--accent-green);
  --color-accent-orange: var(--accent-orange);
  --color-bg-dark: var(--bg-dark);
  --color-surface: var(--surface);
  --color-text-main: var(--text-main);
}

:root {
  --primary: #7634c2;
  --accent-green: #5bff3b;
  --accent-orange: #ff7300;
  --bg-dark: #1f1f2e;
  --surface: #4b4b5c;
  --text-main: #f4f4f5;
}

body {
  @apply bg-bg-dark text-text-main;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
